/* .thongtin{
    text-align: center;
    min-height: 10vh;
    background: maroon;
    width:100%;
    text-decoration-line: underline;
} */

/* .card{
    background-image: url(./67627427_1258286244337342_7930898905837862912_o.jpg);
} */


.container-fluid{
    background-image: url(./67657239_488787501883856_1339014809680609280_o.jpg);
    min-height: 200vh;
}